* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

header {
    height: 4rem;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    background: linear-gradient(90deg, hsla(202, 42%, 58%, 1), hsla(212, 79%, 52%, 1));
}

.form {
    display: grid;
    padding: 1rem;
    justify-content: center;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 2.5rem 2.5rem;
    gap: 1rem;
}

.form--input {
    border-radius: 0.2rem;
    border: 1px solid hsla(255, 5%, 84%, 1);
    text-indent: 1rem;
}

.form--add--button {
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    border: solid 1px hsla(255, 5%, 84%, 1);
    background-color:hsla(216, 72%, 59%, 0.4);
}

.remove-button {
    border-radius: 5px;
    border: solid 1px hsla(255, 5%, 84%, 1);
    opacity: 0;
}

.form--add--button:hover {
    background-color:hsla(216, 72%, 59%, 0.6);
}

.remove-button:hover {
    background-color:hsla(24, 72%, 59%, 1);
    border: 1px solid yellow;
    scale: 1.5;
    opacity: 100;
}

.form--button {
    border-radius: 0.2rem;
    grid-column: 1 / -1;
    background-color: hsla(216, 72%, 59%, 0.8);
    color: white;
    border: none;
    cursor: pointer;
}

.form--button:hover {
    background-color: hsla(216, 72%, 59%, 1);
    border: 1px solid hsla(255, 5%, 84%, 1);
}

.select {
    display: flex;
    flex-direction: column;
}

.meme-wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.text-box {
    font-size: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    text-align: center;
    color: white;
    color: white;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.meme-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}