* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

header {
    height: 4rem;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    background: linear-gradient(90deg, hsla(202, 42%, 58%, 1), hsla(212, 79%, 52%, 1));
}

.form {
    display: grid;
    padding: 1rem;
    justify-content: center;
    grid-template-columns: 30% 30%;
    grid-template-rows: 2.5rem 2.5rem;
    gap: 1rem;
}

.form--input {
    border-radius: 0.2rem;
    border: 1px solid hsla(255, 5%, 84%, 1);
    text-indent: 1rem;
}

.form--button {
    border-radius: 0.2rem;
    grid-column: 1 / -1;
    background: hsla(216, 72%, 59%, 1);
    color: white;
    border: none;
    cursor: pointer;
}

.meme {
    justify-content: center;
    align-items: center;
}